    <div class="ana">
    <h2 > Aluno</h2>
   <table border="1">
    <td class="informacoes">Nome
    </td>
    <td> Rafael Pereira Vasconcelos</td>
    <tr></tr>
    <td class="informacoes">Curso</td>
    <td>Desenvolvimento de Sistemas</td>
    <tr></tr>
    <td class="informacoes">
      Objetivo profissional
    </td>
    <td>Meu objetivo profissional é ter uma carreira na área, conseguir um trabalho no exterior e evoluir cada vez mais.</td>
    <tr></tr>
    <td class="informacoes"> Hobbies</td>
    <td>Jogar videogame, jogar futebol, assistir futebol, assistir filmes e séries e sair com meus amigos.</td>
    <tr></tr>
    <td class="informacoes">Contato LinkedIn</td>
    <td><a href="https://www.linkedin.com/in/rafael-vasconcelos-1a6845268/" target="_blank" > Rafael Vasconcelos LinkedIn </a></td>
    <tr></tr>
    <td class="informacoes">GitHub</td>
    <td><a href="https://github.com/rafaelpereiravasconcelos" target="_blank">Rafael Vasconcelos Github</a></td>
   </table>

<router-outlet></router-outlet>
